:root {
  --primary-color: #6F6DE0;
}


.auth-card {
  width: 100%;
  max-width: 500px;
  border: none !important;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  padding: 10px;
}

.auth-card-header {
  display: flex;
  justify-content: space-around;
  background-color: unset !important;
  border: none;
  border-radius: 10px 10px 0 0 !important;
}

.auth-tab-button {
  flex: 1;
  border-radius: 0;
  margin: 0 2px;
  padding: 10px 0;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

.auth-tab-button.active {
  background-color: #6F6DE0 !important;
  color: white !important;
}

.auth-tab-button:not(.active):hover {
  background-color: #e2e6ea;
}

.auth-card-body {
  padding: 20px;
}
.logo-container {
  display: flex;
  justify-content: center;
}

.logo-img {
  max-width: 70%;
}
.form-control{
  margin-bottom: 15px;
}