.find-clinic-container {
  margin-top: 50px;
}

.find-clinic-header {
  text-align: center;
  color: #5e5cc7;
  margin-bottom: 30px;
  font-size: 2em;
  font-weight: bold;
}

.clinic-card {
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
}

.clinic-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.clinic-card .card-title {
  color: #5e5cc7;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

.clinic-card .clinic-info {
  color: #333;
  margin-bottom: 15px;
  font-size: 1em;
}

.clinic-card .clinic-info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.clinic-card .clinic-info-item strong {
  width: 40%;
  text-align: right;
  padding-right: 10px;
}

.clinic-card .clinic-info-item span {
  width: 60%;
}

.form-control,
.btn-primary {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.form-control:focus,
.btn-primary:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.form-control {
  border: 1px solid #5e5cc7;
}

.btn-primary {
  background-color: #5e5cc7;
  border-color: #5e5cc7;
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #4d4cb3;
  border-color: #4d4cb3;
}

.mb-3 .form-control {
  width: 100%;
}

.text-left {
  text-align: left;
}

.clinic-card .card-body .btn-primary {
  margin-top: 10px;
  width: 100%;
}

.clinic-info-item strong {
  color: #333333c2;
}

.clinic-info-item span {
  text-align: left;
}
body {
  font-family: 'Arial', sans-serif; /* Example font family */
  font-size: 14px; /* Basic font size for the entire website */
}
/* Set a fixed height for Card.Body to make all cards the same height */
.clinic-card .card-body {
  height: 250px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  flex: 1; /* Grow to fill remaining space */
}


.clinic-card .card-body .btn-primary {
  margin-top: auto;
  align-self: center; /* Center button horizontally */
  width: 100%;
}