.wrapper {
  display: flex;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: width 0.3s;
  background-color: #215cad;
  color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.sidebar-expanded {
  width: 250px;
}

.sidebar-collapsed {
  width: 60px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 15px;
  position: relative;
}

.header-expanded {
  flex-direction: row;
}

.header-collapsed {
  flex-direction: column;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  flex: 1;
  margin-top: 15px;
}

.logo {
  height: 40px;
  transition: height 0.3s;
}

.logo.collapsed {
  height: 30px;
}

.sidebar-toggle {
  display: inline-flex;
  align-items: center;
  color: #fff;
  margin-left: auto;
  margin-top: 10px;
  z-index: 1050;
}

.icon-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.icon-link:hover {
  text-decoration: none;
}

.list-unstyled.components {
  flex: 1;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  padding: 15px;
}

.bottom-links {
  margin-top: auto;
}

.bottom-links .list-item {
  display: flex;
  align-items: center;
  padding: 15px;
}

.sidebar-collapsed .sidebar-toggle {
  margin-left: 0;
  margin-top: 0;
  order: -1;
}

.btn-custom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  color: #fff;
}

.icon-link.active-link {
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 4px;
  padding: 4px 8px;
}
